body {
    margin: 0;
    }
    
    .container {
        display:flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background-color: #926c4d;
        gap: 2vh;
    }
    
    .container-top {
        display: flex;
        height: 4vh;
        width: 100%;
        background-color: #637f40;
        border: 1vh solid #526935;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 4vh;
    }
    
    .title-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    
    .rps-title {
        font-family: "Tiny5", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5vh;
        text-align: center;
    }
    
    .settings {
        display: flex;
    }
    
    .settings button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
    }
    
    .settings button img {
        width: 6vh;
        display: block;
    }
    
    .drop-down {
        display: none;
        position: absolute;
        top: 7vh;
        right: 0;
        background-color: #637f40;
        border: 1vh solid #526935;
        min-width: 7vh;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    
    .settings:hover .drop-down{
        display: block;
    }
    
    .container-1 {
        display: flex;
        flex-direction: row;
        height: 24vh;
        width: 100%;
    }
    
    .rock-p, .paper-p, .scissors-p, .p-choice, .cpu-choice {
        height: 22vh;
        width: 22vh;
        background-color: #808080;
        border: 1vh solid #bfbfbf;
        margin-left: 3vh;
        margin-top: 2vh;
    }
    
    .rock-p button, .paper-p button, .scissors-p button{
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
    }
    
    .rock-p button img, .paper-p img, .scissors-p button img{
        height: 22vh;
    }
    
    .health {
        display: flex;
        flex-direction: row;
        width: 138vh;
        justify-content: space-between;
        margin: 4vh;
    }
    
    .heart1 img, .heart2 img{
        height: 20vh;
    }
    
    .container-2 {
        display: flex;
        flex-direction: row;
        height: 24vh;
        width: 200vh;
        gap: 2vh;
    }
    
    .sign {
        width: 80vh;
        height: 20vh;
        background-color: #c69b6f;
        border: 8px solid #765341;
        text-align: center;
        color: black;
        font-family: "Tiny5", sans-serif;
        font-size: 20vh;
        margin-top: 3vh;
    }
    
    .steve img {
        height: 24vh;
        width: 24vh;
    }
    
    .container-3 {
        display: flex;
        flex-direction: row;
        height: 30vh;
        width: 100%;
    }
    
    .scissors-p button img {
        padding: 2vh;
    }
    
    .container-bottom {
        display: flex;
        height: 18;
        width: 100%;
        background-color: #637f40;
        border: 1vh solid #526935;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        flex-direction: column;
        font-family: "Tiny5", sans-serif;
        font-size: 2vh;
        padding: 4vh;
    }
